/* 
Andrew Anderson
CIS238 Portfolio
styles.css
*/

/* declarations for external fonts */
@font-face {
  font-family: 'Starborn';
  /* A name you choose to use later in your CSS */
  src: url("fonts/Starborn.ttf") format('truetype');
  /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zepter';
  src: url('fonts/Zepter_Pro.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('fonts/LouisGeorgeCafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS RESET */
html,
body,
header,
footer,
main,
h1,
h2,
h3,
p,
a,
ul,
hr,
dl,
nav,
figure,
figcaption,
article,
fieldset,
textarea,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* mobile style rules */
.mobile a {
  text-decoration: none;
  margin: 2%;
}

.mobile {
  text-align: center;
  justify-content: center;
}

.mobile h1,
h2 {
  margin: 4% 2%;
  text-align: center;
}

.mobile img {
  display: block;
  max-width: 100%;
  margin: 5% auto;
}

.round {
  border-radius: 8px;
}

/* text style rules */
h1 {
  font-family: "Starborn", Arial, sans-serif;
  font-size: 42px;
  color: #fff;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Zepter", Arial, sans-serif;
  font-size: 36px;
  color: #49292f;
  margin: 2%;
}

h3 {
  font-family: "Zepter", Arial, sans-serif;
  font-size: 20px;
  color: #49292f;
  margin: 2%;
}

p,
ul li {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  color: #49292f;
  padding: 2% 0;
}

ul {
  list-style: square;
}

hr {
  border: 2px solid #c22f4c;
}

.mobile {
  display: block;
}

.tablet-desktop, #menu-links {
  display: none;
}

.mobile-nav a {
    color: #fff;
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

/* html, body, main style rules */
html {
  background-image: url('./images/background.svg');
  background-repeat: repeat;
  height: 250px;
}

body {
  background-color: #ffeed7;
  margin: auto;
  filter: drop-shadow(1px 1px 5px rgba(73, 41, 47, .75));
}

main {
  min-height: 50vh;
  margin: 0 2%;
}

header {
  background-color:#c22f4c;
}

img {
  max-width: 100%;
  display: block;
}

/* home page rules */
.home ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.home ul li {
  padding: 2%;
  filter: drop-shadow(0px 0px 5px rgba(73, 41, 47, .5));
  list-style: none;
}

.home h1 {
  font-size: 64px;
  text-align: center;
  margin: 10%;
  text-shadow: 5px 5px 8px rgba(73, 41, 47, .25);
}

.home h2 {
  text-align: center;
}

.home img {
  filter: drop-shadow(5px 5px 10px rgba(73, 41, 47, .75));
}

#audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

/* nav rules */
nav {
  background-color: #c22f4c;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1%;
  white-space: nowrap;
}

#menu-links a {
  font-size: 1.5em;
}

/* container rules */
.container {
  margin: 3% 3%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container .child {
  padding: 0 2%;
}

.container img {
  filter: drop-shadow(0px 0px 5px rgba(73, 41, 47, .5));
}

/* awards rules */
#awards {
  outline: #49292f;
  outline-style: double;
  outline-width: 4px;
  padding: 5px;
  text-align: left;
}

#awards dl {
  margin: 20px;
}

dt {
  font-weight: bold;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  display: list-item;
}

dd {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
}

/* my work page rules */
.project {
  display: flex;
  align-items: center;
  margin: 2%;
  padding: 2%;
}

.text {
  padding-left: 2%;
}

.pics ul,
.pics img {
  list-style: none;
  filter: drop-shadow(0px 0px 5px rgba(73, 41, 47, .5));
}

/* contact info rules */
#contactinfo {
  color: white;
}

#contactinfo a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  background-color: #c22f4c;
  padding: 1% 2%;
  text-align: center;
  margin: 2%;
}

/* quote form rules */
#comm-info {
  padding: 1% 5%;
}

#comm-info p {
  font-size: 1.5em;
}

#comm-info a {
  color:#c22f4c
}

fieldset, input, textarea {
  border: none;
  padding: 2%;
  color:#49292f;
}

#quote {
  margin-bottom: 2%;
  background-color:#f7ddb9;
  padding: 2%;
}

legend {
  align-items: center;
  font-family: "Zepter", Arial, sans-serif;
  font-size: 1.25em;
  color:#49292f;
}

label {
  font-family: "Louis George Cafe", Arial, sans-serif;
  margin: 1% 0;
  display: block;
}

textarea {
  width: 80%;
}

form ul {
  margin: 0 4%;
}

#submit {
  background-color:#c22f4c;
  color: white;
  font-family: "Zepter", Arial, sans-serif;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  padding: 2%;
  display: block;
  margin: 2%;
}

input[type="checkbox"] {
  accent-color: #c22f4c; /* Your desired color */
}

/* footer rules */
ul.bottomnav {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 3%;
}

#bottomnav nav ul li a,
#bottomnav nav ul li p,
#bottomnav p {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #c22f4c;
  padding: 2%;
  text-align: center;
}

footer ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

footer ul li {
  padding: 0 2%;
}

footer p {
  padding: 1% 0;
}

/* article rules */
article {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article .text h2,
article .text h3,
article .text p {
  padding: 0% 5%;
  text-align: center;
}

article .text ul {
  padding: 5%;
}

article .pics {
  padding: 5%;
}

#luna-pics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

article:nth-of-type(odd) {
  background-color: #f7ddb9;
}

/* miscellaneous rules */
.construction li {
  /* "under construction" page */
  display: flex;
  vertical-align: center;
}

.photocred div,
.photocred a,
.photocred,
.home div {
  /* photo credit links */
  font-family: "Raleway", Arial, sans-serif;
  font-size: 13px;
  color: #49292f;
  bottom: 8px;
  left: 16px;
  text-align: center;
  margin: 2%;
}

.photocred {
  padding: 10px;
}

.photolink {
  position: relative;
  margin: auto;
  max-width: 200px;
}

.pictext {
  position: absolute;
  bottom: 0;
  background: rgba(73, 41, 47, .5);
  color: #fff;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  font-family: "Zepter", Arial, sans-serif;
  font-size: 1.5em;
}

/* Media query for tablet displays */
@media screen and (min-width: 630px),
print {

  /* Tablet Viewport: show tablet-desktop class, hide mobile class*/
  .tablet-desktop {
    display: contents;
  }

  .projects {
    display: block;
  }

  .mobile, .mobile-nav {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  .grid img {
    filter: drop-shadow(1px 1px 5px rgba(73, 41, 47, .75));
  }

  .home img:hover {
    transform: translateY(10px);
  }

  /* html, body, main style rules */
  html {
    background-image: url('./images/background.svg');
    background-repeat: repeat;
    height: 250px;
  }

  body {
    background-color: #ffeed7;
    max-width: 800px;
    min-width: 500px;
    margin: auto;
    filter: drop-shadow(1px 1px 5px rgba(73, 41, 47, .75));
  }

  header {
    background-color:#f7ddb9;
  }

  .home h1 {
    color:#c22f4c;
    margin: 3%;
  }

  main {
    min-height: 50vh;
    margin: 0 2%;
  }

  /* nav rules */

  .tablet-desktop ul {
    list-style-type: none;
    align-items: center;
    background-color:#c22f4c;
    padding: 3%;
  }

  .tablet-desktop ul li {
    margin: 0 3%;
    display: inline-block;
    justify-content: center;
  }

  ul.nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    white-space: nowrap;
  }

  #submit:hover {
    background-color: #e68ca2;
  }

  /* article rules */
  article {
    padding: 5%;
    display: flex;
    flex-direction: row;
  }

  /* table rules */
  table {
    border: 1px solid #c22f4c;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }
  
  caption {
    font-family: "Zepter", Arial, sans-serif;
    font-size: 1.5em;
    color: #49292f;
    padding: 10px;
  }

  th, td {
    border: none;
    padding: 2%;
    font-family: "Louis George Cafe", Arial, sans-serif;
  }

  th {
    font-weight: bold;
    background-color:#c22f4c;
    color: white;
  }
  
  tr:nth-child(even){
    background-color: #f7ddb9;
  }


  /* footer rules */
  ul.bottomnav {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 3%;
    display: flex;
  }

  #bottomnav nav ul li a,
  #bottomnav nav ul li p,
  #bottomnav p {
    color: white;
    text-decoration: none;
  }

  footer {
    background-color: #c22f4c;
    padding: 2%;
    text-align: center;
  }

  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  footer ul li {
    padding: 0 2%;
  }

  footer p {
    padding: 1% 0;
  }

}

/* Media query for desktop viewports */
@media screen and (min-width: 1015px),
print {


  ul.nav li a:hover {
    background: #e68ca2;
  }

  ul.nav2 li a:hover {
    background-color: #e68ca2;
  }

  #contactinfo a:hover {
    background-color: #e68ca2;
  }
}